<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full h-screen mt-3 text-black p-10 text-black ">
    <div class="mb-10">
      <a class="text-zince-500" href="/read">Read user</a>
    </div>
    <h1 class="text-3xl mb-3">Create User</h1>
    <form action="/create" method="post">
      <input class="px-5 py-2 border-2 border-zince-500 outline-none rounded-lg" type="text" name="name" placeholder="name">
      <input class="px-5 py-2 border-2 border-zince-500 outline-none rounded-lg" type="email" name="email" placeholder="email">
      <input class="px-5 py-2 border-2 border-zince-500 outline-none rounded-lg" type="text" name="image" placeholder="imageurl">
      <input class="px-5 py-2 border-2 rounded-lg bg-blue-300 hover:cursor-pointer hover:bg-blue-600" type="submit" value="create user">
  
    </form>
  
  </div>
</body>
</html>